html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

.page-header {
    position: absolute;
    padding: 28px 20px 20px;
    width: 100%;
    box-sizing: border-box;
}

.page-nav .hamburger {
    border: 0;
    background: none;
    position: absolute;
    right: 20px;
    top: 20px;
    fill: #FFFFFF;
    /*width: 30px;*/
    /*height: 30px;*/
}

.page-nav .hamburger .close-icon{
    display: none;
    width: 14px;
}

.page-nav .hamburger .hamburger-icon{
    width: 18px;
    height: 6px;
}


.page-nav .navigation-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    /*display: none;*/
    text-align: center;
    width: 100%;
}

.page-nav .navigation-menu a {
    text-decoration: none;
}

.page-nav .navigation-menu li {
    border-bottom: 1px solid #F5F7F8;
    padding: 15px 0;
}


.page-nav .navigation-menu li a {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;


}
.page-header.nav-opened {
    background-color: #FFFFFF;
}

.page-header.nav-opened .page-nav .hamburger{
    fill: #000000;
}

.page-header.nav-opened .page-nav .hamburger .hamburger-icon {
    display: none;
}


.page-header.nav-opened .page-nav .hamburger .close-icon {
    display: inline-block;
}


.article .article-header {
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
    padding: 35vw 0;
}

.article-title {
    margin: 0;
}